*~
application/media/upload_images/*
config.php
modules/*/config/*
vendor/*
modules/*
!modules/admin
!modules/lang
!modules/media
!modules/users
!modules/welcome
!modules/forms
views/*
!views/default


